- Indexing

In [2]:
# make a string
a="Samsoa Pakora"
a

'Samsoa Pakora'

In [3]:
a

'Samsoa Pakora'

In [4]:
a[0]

'S'

In [5]:
a[6]

' '

In [6]:
# length of indeces
len(a)

13

In [8]:
a[0:13]

'Samsoa Pakora'

# String methods

In [12]:
food= "biryani"
food

'biryani'

In [13]:
len (food)

7

In [14]:
#capitilize every element
food.capitalize()

'Biryani'

In [16]:
#uppercase Letters
food.upper()

'BIRYANI'

In [17]:
#lowercase Letters
food.lower ()

'biryani'

In [18]:
#replace
food.replace("b","sh")

'shiryani'

In [19]:
# counting a specific alphabet in a string
name="qaisar_saddique with Dr. QAISAR"
name

'qaisar_saddique with Dr. QAISAR'

In [20]:
name.count("a")

3

In [23]:
# finding an index number in string
name="qaisar_saddique with Dr. QAISAR"
name

'qaisar_saddique with Dr. QAISAR'

In [26]:
name.find("Q")

25

In [27]:
### how to split a string
food = "I love samsoa, pakora,raita, biryani and karahi"
food

'I love samsoa, pakora,raita, biryani and karahi'

In [31]:
food.split(".")

['I love samsoa, pakora,raita, biryani and karahi']

# Basic data Structure in Python
# 1- Tuple
# 2- List
# 3- Dictionaries
# 4- Set

# 1- Tuple
- ordered collection of elements
- enclosed in () round braces/paranthesis
- Different kind of elements can be stored
- Once elements are stored you cannot change them (unmutatable)

In [42]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [43]:
# type of tuple
type(tup1)

tuple

### - Indexing in tuple

In [46]:
tup1[0]

1

In [47]:
tup1[2]

True

In [49]:
# last element is exlcusive
tup1[0:1]

(1,)

In [50]:
# count of elements in tuple
len(tup1)

4

In [51]:
tup2 = (2, "QaisarSaddique",3.5, False)
tup2

(2, 'QaisarSaddique', 3.5, False)

In [52]:
tup1*2+tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'QaisarSaddique',
 3.5,
 False)

In [53]:
#concatinate + repeat
tup1+tup2

(1, 'python', True, 2.5, 2, 'QaisarSaddique', 3.5, False)

In [54]:
tup3 = (20, 50, 30,85,60 )
tup3

(20, 50, 30, 85, 60)

In [58]:
min(tup3)

20

In [59]:
max(tup3)

85

In [60]:
tup3*2

(20, 50, 30, 85, 60, 20, 50, 30, 85, 60)

# 2 - List
# . ordered collection of elements
# . enclosed in [] Square braces/bracket
# . Mutateable, you can change the values

In [63]:
list1 = [2,"Qaisar",False]
list1

[2, 'Qaisar', False]

In [64]:
type(list1)

list

In [65]:
len(list1)

3

In [68]:
list1[2]

False

In [70]:
list2 = [3,5,"Qaisar Saddique", 478, 53.2, False]
list2

[3, 5, 'Qaisar Saddique', 478, 53.2, False]

In [71]:
list1+list2

[2, 'Qaisar', False, 3, 5, 'Qaisar Saddique', 478, 53.2, False]

In [73]:
list2*2

[3,
 5,
 'Qaisar Saddique',
 478,
 53.2,
 False,
 3,
 5,
 'Qaisar Saddique',
 478,
 53.2,
 False]

In [74]:
list1.reverse()
list1b

[False, 'Qaisar', 2]

In [78]:
list1.append("Qaisar saddique")
list1

[False, 'Qaisar', 2, 'Qaisar saddique', 'Qaisar saddique', 'Qaisar saddique']

In [81]:
# list count
list1.count(list2)

0

In [82]:
list3 = [20,30,40,12]
list3

[20, 30, 40, 12]

In [83]:
#sorting a list
list3.sort()
list3

[12, 20, 30, 40]

In [84]:
list3*3

[12, 20, 30, 40, 12, 20, 30, 40, 12, 20, 30, 40]

In [85]:
lists = list1+list2

[False,
 'Qaisar',
 2,
 'Qaisar saddique',
 'Qaisar saddique',
 'Qaisar saddique',
 3,
 5,
 'Qaisar Saddique',
 478,
 53.2,
 False]

## 3 - Dictionaries
- An unoredered collection of elements
.key and value
.curly braces or brackets 
.Mutateable/change the values

In [88]:
#Food and their prices
food1 = {"Samsoa":30, "Raita": 20, "Pakora":100, "Salad": 50, "Chicken Rolls": 30}
food1

{'Samsoa': 30, 'Raita': 20, 'Pakora': 100, 'Salad': 50, 'Chicken Rolls': 30}

In [89]:
type(food1)

dict

In [90]:
# extract data
Keys1 = food1.keys()

dict_keys(['Samsoa', 'Raita', 'Pakora', 'Salad', 'Chicken Rolls'])

In [91]:
values1 = food1.values()
values1

dict_values([30, 20, 100, 50, 30])

In [92]:
#update the values
food1["Tikki"]=10
food1

{'Samsoa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [93]:
# update the values
food1["tikki"]=15
food1

{'Samsoa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10,
 'tikki': 15}

In [96]:
food2 = {"Dates":50, "Choclate": 200, "Swayyan": 1000}
food2

{'Dates': 50, 'Choclate': 200, 'Swayyan': 1000}

In [97]:
#concatinate
food1.update(food2)

In [98]:
food1

{'Samsoa': 30,
 'Raita': 20,
 'Pakora': 100,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10,
 'tikki': 15,
 'Dates': 50,
 'Choclate': 200,
 'Swayyan': 1000}

## 4 - Set
- Unordered and unindexed
- curl braces are used {}
- No duplicates allowed

In [99]:
s1 = {1, 2.2, 5.2, "Qaisar Saddique", "Lahore", True}
s1

{1, 2.2, 5.2, 'Lahore', 'Qaisar Saddique'}

In [100]:
s1.add ("Qaisar2")
s1

{1, 2.2, 5.2, 'Lahore', 'Qaisar Saddique', 'Qaisar2'}